/* verdana */
@font-face {
    font-family: "Verdana";
    src: url(../Fonts/verdana-font-family/verdana.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Verdana";
    src: url(../Fonts/verdana-font-family/verdana-bold.ttf);
    font-weight: 800;
}

/* Palatino */
@font-face {
    font-family: "Palatino";
    src: url(../Fonts/Palatino/pala.ttf);
    font-weight: 300;
}


@font-face {
    font-family: "Palatino";
    src: url(../Fonts/Palatino/palab.ttf);
    font-weight: 500;
}

/* Quicksand */

@font-face {
    font-family: "Quicksand";
    src: url(../Fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}


/* Franklin Gothic Demi */
@font-face {
    font-family: "Franklin Gothic Demi";
    src: url(../Fonts/Franklin_Gothic_Demi_Regular/Franklin\ Gothic\ Demi\ Regular.ttf);
}

/* Impact */
@font-face {
    font-family: "Impact";
    src: url(../Fonts/impact/impact.ttf);
}

/* Palaquin Dark */

@font-face {
    font-family: "Palanquin Dark";
    src: url(../Fonts/Palanquin_Dark/PalanquinDark-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Palanquin Dark";
    src: url(../Fonts/Palanquin_Dark/PalanquinDark-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Palanquin Dark";
    src: url(../Fonts/Palanquin_Dark/PalanquinDark-SemiBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Palanquin Dark";
    src: url(../Fonts/Palanquin_Dark/PalanquinDark-Bold.ttf);
    font-weight: 800;
}

/* Ozda */

@font-face {
    font-family: "Ozda";
    src: url(../Fonts/ozda/ozda.ttf);
}

@font-face {
    font-family: "Open sans";
    src: url(../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}