/* Variables de colores */
/* COLORES */
:root {
  --Red-Light: #f72d1c;
  --Red-Medium: #ae0e14;
  --Red-Dark: #83080c;
  --Red-Dark-Extreme: #2b0303;
  --Black-Font: #000;
  --Gray-Dark: #333132;
  --Gray-title: rgb(102, 102, 102);
  --Golden: #daab42;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #fff;
  /* background-color: #333132; */
  font-family: Palanquin Dark;
  scroll-behavior: smooth;
}

/* ----------------- Estilos generales ----------------- */
/* Estilos de títulos de seccion */

#check-navbar {
  display: none;
}

#nosotros h2,
#servicio h2,
#catalogo h2 {
  font-family: "Impact";
  font-size: 3rem;
  padding-left: 20px;
  padding-bottom: 40px;
  color: var(--Gray-title);
}

/* -----------------------------------------------------------------
---------------------------- HEADER --------------------------------
-------------------------------------------------------------------- */
/* ------- Barra de navegación ------- */

.header-nav {
  font-family: "Verdana";
  font-size: 2.5rem;
  font-weight: 800;
  background-color: var(--Gray-Dark);
  display: inline;
  align-items: center;
  width: 100%;
  padding: 0px 0px;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: 1px -7px 19px 9px rgba(0, 0, 0, 0.34);
  box-shadow: 1px -7px 19px 9px rgba(0, 0, 0, 1.2);
}

.navbar-nombre {
  padding: 20px;
  display: inline-block;
  margin-left: 10px;
  font-size: 1.8rem;
  color: white;
  font-family: "Ozda";
}

.button-responsive-menu {
  position: relative;
  border: 2px solid var(--Red-Light);
  color: var(--Red-Light);
  border-radius: 7px;
  width: 38px;
  height: 38px;
  padding: 6px;
  margin-top: 9px;
  margin-right: 30px;
  float: right;
}


@media (max-width: 1003px) {
  .header-navbar {
    display: none;
    position: fixed;
  }

  .header-navbar ul {
    background-color: var(--Red-Medium);
    width: 100%;
  }

  .header-navbar li {
    text-align: center;
    list-style: none;
    border: 1px solid var(--Gray-Dark);
  }

  .nav-item-divisor {
    display: none;
  }

  .header-navbar li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 30px;
    width: 100%;
  }

  .header-navbar li:hover {
    background-color: var(--Red-Dark);
  }

  .header-navbar li a:hover {
    color: var(--Red-Dark-Extreme);
  }
}

.button-responsive-menu:hover {
  border: 4px solid var(--Red-Light);
}

#check-navbar:checked~.header-navbar {
  display: block;
  width: 100%;
}

/* ------- Inicio ------- */

.header-inicio {
  position: relative;
  top: 59px;
  min-height: 568px;
  width: 100%;
  background-image: url("../images/phone/inicio/Inicio-wallpaper.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-inicio h1 {
  color: white;
  font-family: Verdana;
  font-size: 3rem;
  line-height: 36px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 140px;
  width: 239px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-inicio a img {
  position: relative;
  width: 117px;
  display: block;
  margin: 0px auto;
  top: 300px;
}

/* -----------------------------------------------------------------
---------------------------- MAIN  ---------------------------------
-------------------------------------------------------------------- */

main {
  background-color: white;
  padding-top: 60px;
}

/* ----- Nosotros ----- */

.main-nosotros {
  padding-top: 40px;
  box-shadow: 0px 3px 20px -6px #000000;
  /* min-height: 620px;  Estilo de referencia */
  padding-bottom: 90px;
}

.nosotros--div {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.nosotros--div img {
  width: 106px;
  height: 106px;
}

.nosotros--div h3 {
  font-family: "Impact";
  width: 145px;
  font-size: 4rem;
  line-height: 40px;
  position: relative;
  top: 10px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.main-nosotros p {
  font-family: "Palanquin Dark";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  width: 270px;
  text-align: justify;
  margin: 0 auto;
  padding-bottom: 70px;
}

.main-nosotros p span {
  color: rgb(156, 0, 0);
}

.nosotros--button {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  width: 221px;
  height: 60px;
  background: var(--Golden);
  padding-top: 22px;
  border-radius: 50px;
  margin-bottom: 70px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 17px -5px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 5px 17px -1px rgba(0, 0, 0, 0.61);
}

.nosotros--button:hover {
  --Golden: #a07e33;
}

.nosotros--button p {
  font-family: Arial;
  font-weight: 700;
  font-size: 3.3rem;
  text-align: center;
  color: white;
  position: relative;
  left: -25px;
}

/* ----- Servicio ----- */

.main-servicio {
  padding-top: 40px;
  padding-bottom: 50px;
}

.main-servicio p {
  font-family: "Palanquin Dark";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 16.01px;
  width: 260px;
  text-align: justify;
  margin: 0 auto;
  padding-bottom: 30px;
}

.main-servicio img {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* ----- Catálogo ----- */

.main-catalogo {
  padding-top: 40px;
  padding-bottom: 110px;
  -webkit-box-shadow: 0px 3px 15px 0px #000000;
  box-shadow: 0px 3px 15px 0px #000000;
}

.main-catalogo img {
  width: 100px;
  display: block;
  margin: 80px auto 0px;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.main-catalogo p {
  width: 250px;
  height: 48px;
  font-family: 'Palanquin Dark';
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  margin: 10px auto 50px;
}

/* ----- Contacto ----- */
/* Primer parte */
.main-contacto {
  height: auto;
}

.main-contacto h2 {
  display: block;
  margin: 0 auto;
  font-family: "Impact";
  font-size: 2.5rem;
  color: white;
  width: 260px;
  text-align: center;
  padding-top: 40px;
}

.main-contacto p {
  font-size: 1.6rem;
  font-family: "Palanquin Dark";
  font-weight: 400;
  line-height: 1.6rem;
  color: white;
  margin: 0 auto;
  padding: 3px 0 25px;
}

form {
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 230px;
  max-width: 240px;
}

form input {
  padding: 8px;
  width: 100%;
  margin: 5px auto;
  border: 3px solid #ffffff;
  border-radius: 4px;
  color: rgb(230, 230, 230);
  background: rgba(255, 255, 255, 0.150);
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
}

form textarea {
  margin: 5px 0;
  padding: 8px 0px 0px 8px;
  border: 3px solid #ffffff;
  height: 135px;
  border-radius: 4px;
  resize: none;
  color: rgb(230, 230, 230);
  background: rgba(255, 255, 255, 0.150);
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;

}

form input:focus,
textarea:focus {
  outline: thick double #83080c;
  background-color: rgba(0, 0, 0, 0.40);
}

form button {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(168, 50, 40, 1);
  color: white;
  border: 3px solid #E4E4E4;
  border-radius: 10px;
  font-size: 1.7rem;
}

form button:hover {
  background-color: var(--Red-Dark);
}

form button:active{
  background-color: var(--Red-Dark-Extreme);
}

.main-contacto .contacto-formulario {
  min-height: 580px;
  background-image: url("../images/phone/contacto/Contacto-left.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-contacto p {
  width: 250px;
  text-align: center;
}

/* Segunda parte */

.main-contacto .contacto-visitanos {
  min-height: 580px;
  background-image: url("../images/phone/contacto/Contacto-right.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-contacto iframe {
  display: block;
  border: 0;
  border-radius: 8px;
  margin: 10px auto 45px;
}

.visitanos--texto {
  display: block;
  margin: 0 auto;
}

.visitanos--texto p {
  font-weight: 600;
  font-family: "Open sans";
  text-align: left;
  padding: 3px 0;
}

.visitanos--texto a {
  color: white;
  text-decoration: none;
}

.visitanos--texto a:hover {
  color: var(--Red-Light);
}

/* -----------------------------------------------------------------
---------------------------- Footer --------------------------------
-------------------------------------------------------------------- */

footer {
  background-color: #333132;
  height: 40px;
  padding: 0px 30px;
  width: 100%;
}

.footer-div p {
  background-color: #333132;
  color: #BBBBBB;
  align-self: center;
  font-family: "Palanquin Dark";
  font-size: 1.8rem;
}

@media (min-width: 400px) {

  .footer-div {
    height: 40px;
  }

  .footer-left {
    float: left;

  }

  .footer-right {
    float: right;
  }
}