/* verdana */
@font-face {
  font-family: "Verdana";
  src: url(/Fonts/verdana-font-family/verdana.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Verdana";
  src: url(/Fonts/verdana-font-family/verdana-bold.ttf);
  font-weight: 800;
}

/* Palatino */
@font-face {
  font-family: "Palatino";
  src: url(/Fonts/Palatino/pala.ttf);
  font-weight: 300;
}


@font-face {
  font-family: "Palatino";
  src: url(/Fonts/Palatino/palab.ttf);
  font-weight: 500;
}

/* Quicksand */

@font-face {
  font-family: "Quicksand";
  src: url(/Fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}


/* Franklin Gothic Demi */
@font-face {
  font-family: "Franklin Gothic Demi";
  src: url(/Fonts/Franklin_Gothic_Demi_Regular/Franklin\ Gothic\ Demi\ Regular.ttf);
}

/* Impact */
@font-face {
  font-family: "Impact";
  src: url(/Fonts/impact/impact.ttf);
}

/* Palaquin Dark */

@font-face {
  font-family: "Palanquin Dark";
  src: url(/Fonts/Palanquin_Dark/PalanquinDark-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Palanquin Dark";
  src: url(/Fonts/Palanquin_Dark/PalanquinDark-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Palanquin Dark";
  src: url(/Fonts/Palanquin_Dark/PalanquinDark-SemiBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Palanquin Dark";
  src: url(/Fonts/Palanquin_Dark/PalanquinDark-Bold.ttf);
  font-weight: 800;
}

/* Ozda */

@font-face {
  font-family: "Ozda";
  src: url(/Fonts/ozda/ozda.ttf);
}

/* COLORES */
:root {
  --Red-Light: #f72d1c;
  --Red-Medium: #ae0e14;
  --Red-Dark: #83080c;
  --Red-Dark-Extreme: #2b0303;

  --Black-Font: #000;
  --Gray-Dark: #333132;
  --Golden: #daab42;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 1500px;
  font-family: Palanquin Dark;
}

/* -----------------------------------------------------------------
---------------------------- HEADER --------------------------------
-------------------------------------------------------------------- */


/* ------- Barra de navegación ------- */

.header-nav {
  font-family: "Verdana";
  font-size: 2.5rem;
  font-weight: 800;
  background-color: var(--Gray-Dark);
  display: inline;
  align-items: center;
  width: 100%;
  padding: 0px 0px;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: 1px -7px 19px 9px rgba(0, 0, 0, 0.34);
  box-shadow: 1px -7px 19px 9px rgba(0, 0, 0, 1.2);
}

.navbar-nombre {
  padding: 20px;
  display: inline-block;
  margin-left: 10px;
  font-size: 1.8rem;
  color: white;
  font-family: "Ozda";
}

.button-responsive-menu {
  position: relative;
  border: 2px solid var(--Red-Light);
  color: var(--Red-Light);
  border-radius: 7px;
  width: 38px;
  height: 38px;
  padding: 6px;
  margin-top: 9px;
  margin-right: 30px;
  float: right;
}

#check-navbar {
  display: none;
}

@media (max-width: 800px) {
  .header-navbar {
    display: none;
    position: fixed;
  }

  .header-navbar ul {
    background-color: var(--Red-Medium);
    width: 100%;
  }

  .header-navbar li {
    text-align: center;
    list-style: none;
    border: 1px solid var(--Gray-Dark);
  }

  .header-navbar li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 30px;
    width: 100%;
  }

  .header-navbar li:hover {
    background-color: var(--Red-Dark);
  }

  .header-navbar li a:hover {
    color: var(--Red-Dark-Extreme);
  }
}

.button-responsive-menu:hover {
  border: 4px solid var(--Red-Light);
}

#check-navbar:checked~.header-navbar {
  display: block;
  width: 100%;
}

/* ------- Inicio ------- */

.header-inicio {
  position: relative;
  top: 59px;
  background-image: url("/images/phone/inicio/Inicio-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 568px;
  width: 100%;
}

.header-inicio h1 {
  color: white;
  font-family: Verdana;
  font-size: 3rem;
  line-height: 36px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 50px;
  width: 239px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-inicio a img {
  width: 117px;
  display: block;
  margin: 320px auto;
}


/* -----------------------------------------------------------------
---------------------------- MAIN  ---------------------------------
-------------------------------------------------------------------- */

main {
  padding-top: 60px;
}

.main-nosotros {
  padding-top: 40px;
  -webkit-box-shadow: 0px 3px 16px -4px #000000;
  box-shadow: 0px 3px 16px -4px #000000;
  min-height: 620px;
}

.main-nosotros h2 {
  font-family: "Impact";
  font-size: 2.5rem;
  position: relative;
  padding-left: 20px;
  color: rgb(102, 102, 102);
}

.nosotros--div {
  display: flex;
  justify-content: center;
  margin: 45px auto;
}

.nosotros--div img {
  width: 106px;
  height: 106px;
}

.nosotros--div h3 {
  font-family: "Impact";
  width: 145px;
  font-size: 4rem;
  line-height: 40px;
  position: relative;
  top: 10px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.main-nosotros p {
  font-family: "Palanquin Dark";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 16.01px;
  width: 270px;
  text-align: justify;
  margin: 0 auto;
  padding-bottom: 90px;

}


.main-nosotros p span {
  color: var(--Golden);
}

.header--button {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  width: 221px;
  height: 60px;
  background: var(--Golden);
  padding-top: 22px;
  border-radius: 50px;
  margin-bottom: 70px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 17px -5px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 5px 17px -1px rgba(0, 0, 0, 0.61);
}

.header--button p {
  font-family: Arial;
  font-weight: 700;
  font-size: 3.3rem;
  text-align: center;
  color: white;
  position: relative;
  left: -25px;
}