/*  ORDEN DOCUMENTO
1. Posicionaminto
2. Modelo de caja (Box Model)
3. Tipografía
4. Efectos Visuales
5. otros  */

/* COLORES */
:root {
  --Red-Light: #f72d1c;
  --Red-Medium: #d32024;
  --Red-Dark: #a83228;
  --Black-Font: #000;
  --Gray-Dark: #333132;
  --Golden: #daab42;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* -----------------------------------------------------------------
---------------------------- HEADER --------------------------------
-------------------------------------------------------------------- */
